* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.header__logo {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.header__navegador {
    display: inline;
}

.header__navegador__link {
    color: red;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: rgb(17, 16, 16);
    padding: 0.5rem;
}

.article__box {
    background-color: darksalmon;
    width: 80%;
    height: 60vh;

}

.pokedex__box {
    background-color: rgb(238, 11, 8);
    width: 100vw;
    height: 100vh;
}

.pokedex__box--card {
    width: 50%;
    height: 50%;
    margin: 5%;
    padding: auto;
    background-color: aliceblue;

}
/* start: footer styles using flexbox and styling the footer links */
.flex__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: white;
    flex-wrap: wrap;
}

.flex__footer--item {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 50%;
}

i{
    color: aliceblue;
}
/*end: footer styles using flexbox and styling the footer links */


.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}